.content 
  display flex
  flex-direction row
  flex-wrap wrap
  text-align center
  width auto
  height auto

.product-card
  display flex
  flex-direction column
  height 270px
  weight 243px
  text-align left
  padding-left 33px
  padding-right 33px
  padding-bottom 150px

  &__name
    padding-left 0px
    padding-top 20px

  &__price
    padding-top 10px
