include ../static/mixins/mixins.pug
include ../components/header/index.pug
include ../components/foother/index.pug
include ../components/banner/index.pug
include ../components/content/index.pug
include ../components/filter/index.pug

doctype html
html(class="no-js", lang="ru")
  head
    title 
    link(rel='stylesheet' href='css/styles.css')
    
  body.page
    block body