mixin filter
  button.btn-filter#btn-filter(type='button')= "Filter by"
  div.filter
    button.btn-filter#btn-price(type='button')= "Filter by"
    button.btn-filter#btn-color(type='button')= "Filter by"
    button.btn-filter#btn-collection(type='button')= "Filter by"
