mixin footer

    div.footer
        span(class="footer__title-name") Nimes
        div.footer__navigation
            +href("footer__navigation_href", "...", "Shop")
            +href("footer__navigation_href", "...", "Delivery")
            +href("footer__navigation_href", "...", "Service")
            +href("footer__navigation_href", "...", "Sitemap")
            +href("footer__navigation_href", "...", "Contacts")
        div.footer__social
            a(class="href footer__social_href", href="href")= ""
                img(class="" src="img/facebook.png")
            a(class="href footer__social_href", href="href")= ""
                img(class="" src="img/instagram.png")
            a(class="href footer__social_href", href="href")= ""
                img(class="" src="img/ppp.png")
            a(class="href footer__social_href", href="href")= ""
                img(class="" src="img/twitter.png")