mixin footer

    div.foother
        span(class="titleName") Nimes
        div.navigation
            +href("...", "Shop")
            +href("...", "Delivery")
            +href("...", "Service")
            +href("...", "Sitemap")
            +href("...", "Contacts")
        div.social