.footer
  display flex 
  flex-direction column
  justify-content center
  text-align center
  width auto
  height 222px
  background-color black

  &__title-name
    display block
    color white
    font-weight 800
    font-size 24px

  &__navigation
    padding-top 35px
    font-weight 500
    font-size 18px

  &__social
    padding-top 37px

.footer__navigation_href
  text-decoration none
  color white
  padding-left 17px
  padding-right 17px
