mixin footer

    div.foother
        span(class="titleName-footer") Nimes
        div.navigation
            +href("...", "Shop")
            +href("...", "Delivery")
            +href("...", "Service")
            +href("...", "Sitemap")
            +href("...", "Contacts")
        div.social
            a(class="href href-store", href="href")= ""
                img(class="" src="../static/img/facebook.png")
            a(class="href href-store", href="href")= ""
                img(class="" src="../static/img/instagram.png")
            a(class="href href-store", href="href")= ""
                img(class="" src="../static/img/ppp.png")
            a(class="href href-store", href="href")= ""
                img(class="" src="../static/img/twitter.png")