mixin header
    div.header
        div.gender
            +href-gender("...", "Womann")
            +href-gender("...", "Man")
            +href-gender("...", "New")
        span(class="titleName titleName-head") Nimes