mixin header
    div.header
        div.gender
            +href-gender("...", "Womann")
            +href-gender("...", "Man")
            +href-gender("...", "New")
        span(class="titleName titleName-head") Nimes
        div.store
            a(class="href href-store", href="href")= ""
                img(class="" src="../static/img/search.png")
            a(class="href href-store", href="href")= ""
                img(class="" src="../static/img/basket.png")