mixin header
    div.header
        div.header__gender
            +href-gender("...", "Womann")
            +href-gender("...", "Man")
            +href-gender("...", "New")
        span(class="header__title-name") Nimes
        div.header__store
            a(class="href href-store", href="href")= ""
                img(class="" src="img/search.png")
            a(class="href href-store", href="href")= ""
                img(class="" src="img/basket.png") 