.header 
  display flex 
  flex-direction row
  justify-content center
  text-align center
  width auto
  height 75px

  &__title-name
    display block
    flex-grow 3
    color white
    font-weight 800
    font-size 24px
    color black
    padding-top 23px
    padding-right 7%

  &__gender
    flex-grow 2
    padding-top 30px
    font-weight 500
    font-size 16px
  
  &__store
    flex-grow 2
    padding-top 30px
    font-weight 500
    font-size 16px