

black = #151C22
grey = #727A82

body
  display flex
  flex-direction column
  font-family "Work Sans", sans-serif

.href
  text-decoration none
  color black
  padding-left 17px
  padding-right 17px

